/* ==========
    GLOBAL
========== */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #eee;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* ==========
    HEADER
========== */

header {
    height: 150px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==========
    MAIN
========== */

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
}

.library {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.book {
    width: 350px;
    height: 250px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.book span {
    text-align: center;
}

.book span:nth-child(1) {
    font-size: 1.3rem;
    font-weight: 600;
}

/* ==========
    FOOTER
========== */

footer {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    margin-left: 5px;
    color: #000;
    text-decoration: none;
}

/* ==========
    FORM
========== */

.form-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.form-background-active {
    visibility: visible;
    opacity: 1;
}

.form-container {
    width: 300px;
    height: 350px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

form input,
form select {
    padding: 0.3rem;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* ==========
    BUTTONS
========== */

.btn {
    border: none;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
}

.btn-open,
.btn-submit {
    padding: 0.5rem;
    background-color: #0755ff;
    color: #fff;
    font-size: 1.2rem;
}

.btn-open:active,
.btn-submit:active {
    background-color: #0148e2;
}

.btn-close {
    padding: 0.2rem 0.3rem;
    background-color: transparent;
    color: #0755ff;
    font-size: 1.3rem;
    line-height: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-read {
    width: 50px;
    height: 30px;
    background-color: #eee;
    border: 1px solid #ddd;
}

.btn-read:active {
    background-color: #ddd;
}

.btn-remove {
    padding: 0.2rem 0.3rem;
    background-color: #de1616;
    color: #fff;
    font-size: 1.4rem;
    line-height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}