body {
    min-height: 100vh;
    margin: 0;
    background-color: #eee;
}

header {
    width: 100%;
    height: 150px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

form {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.library {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.book {
    width: 75%;
    min-height: 50px;
    height: 50px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-button {
    width: 50px;
    height: 30px;
    margin-right: 30px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

.status-button:active {
    background-color: #ddd;
}

.remove-button {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #d61f1f;
    color: #fff;
    border: 1px solid #c51c1c;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

.remove-button:active {
    background-color: #c51c1c;
}

footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin-left: 5px;
    color: #000;
    text-decoration: none;
}